/* El css se resetea siempre con el margin paddin y box sizing */
*{
margin: 0;
padding:0;
box-sizing: 0;

}
@font-face {
    font-family: "heycomic";
    src: url(../assets/fonts/Hey\ Comic.ttf); 

}

@font-face {
    font-family: "longreach";
    src: url(../assets/fonts/DK\ Longreach.otf); 

}
@font-face {
    font-family: "tommy";
    src: url(../assets/fonts/MADE\ Tommy\ Soft\ Bold\ PERSONAL\ USE.otf); 

}


body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/001/910/477/original/flat-colorful-space-with-rocket-background-free-vector.jpg);
    background-position: bottom;
    height: 100vh;
    width: 100vw;
}

header {
    height: 10vh;  
}

.logoHeader img {
    width: 40px;
    height: 40px;
    border-radius: 80%;
    margin-left: 100px;
    margin-right: 50px;
}


.bg-personalizado {
    background-color: #5015bd;
}
.bg-personalizado2{
    background-color: #888dda;
}
 a 
 {
   font-family: "heycomic";
}

main{
margin-top:30px;
height: 80vh;
}
main form {
    border-radius: 10px;
    border: 15px solid #4fe488 ;
    
   

    
   
}

main form label {
    font-family: "tommy"; 
    color: #441186;
    
}

main form button {
    font-family: "tommy";
}

    
#welcome{
    border-radius: 5px;
}
#welcome h1 {
    text-align: left;
    font-size: 50px;
}
#welcome div img {
  margin-left: 210px;
}
.bg-perzonalizado-welcome {

    background-color: #a4ffa1;

}
.colorTextoPrincipal {
    color:#5015bd
}

.bg-section1 {
    background-color: #ddfdd2;
}


h1{
    font-family: "tommy";
}
h2 {
    font-family: "tommy";
    padding-top: 150px;
    text-align: left;
    font-size: 50px;
    color: #2038a6; 
}

h4 {
    
    text-align: left;
    font-size: 30px;
    color: #3751c5; 

}






/* 
CARDS  */

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-family: "tommy";
    color: #fff;
    background: rgba(59, 18, 170, 0.4);
    text-align: center;
}


.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #5015bd;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
    font-family: "Sans";

}

.card .back h3 {
    font-size: 30px;
    font-family: "tommy";
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}




.footercorto {
height: 10vh;
margin-top:10%;
}
footer div img {
    margin-top:10px;
    margin-left:100px;
    }
footer div p {
    margin-top:25px;
    margin-left:200px;
    font-family: "heycomic";
    text-align: center;
}


#footerBegginer {
    margin-top: 60%;
 
}
#footerIntermediate {
    margin-top: 60%;
}

#footerAdvanced {
    margin-top: 60%;
}



/* MEDIA QUERYS */


@media only screen and (max-width:320px) {

/* MENU */
    .header320 {
        width: 320px;
        
       
    }
  

    .logoHeader img {
        width: 40px;
        height: 40px;
        border-radius: 80%;
        margin-left: 10px;
        margin-right: 10px;
    }

/* WELCOME TO SPANISHBYHISPANICS */
.Welcome320 {
    width: 320px;
   
    }

#Texto320 h1{
    font-size: 25px;
    text-align: center;

}
/* CONTENIDO DEL MAIN  */

main {
    height: 700px;
    width: 320px;
}
#mainIndex {
    height: 600px;
    width: 320px;
}
.TextoMain320 h2 {
padding-top: 25px;
text-align: center;
font-size: 40px;
}
.TextoMain320 h4 {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
    }
.logomain320 {
    height: 300px;
    width: 300px;
    position:relative;
    margin-left: 0px;
}
    main #form320{
        width: 320px;
        height: 800px;
    }

/* FOOTER  */

.footercorto {
    width: 320px;
    margin-top: 42%;
    height: 30vh;

}
.copyRight320 {
    margin-left: 1px;

}
.redesSociales img {
margin-left: 55px;
}

#footercontact320 {
    margin-top: 10%;

}

#footercontact320 div div img {
    margin-left: 55px;
    

}
#footercontact320 div div p {
    margin-left: 1px;

}
}
















/* FORMULARIO



/* FORMULARIO

mainForm{
    
    height: 150vh;
    width: 510vw;
    }
    main form {
       
        width: 312px;
        border-radius: 10px;
        border: 5px solid  #5015bd ;
       
    }
    
    main form label {
        font-family: "tommy"; 
        color: #441186;
        
    }
    
    main form button {
        font-family: "tommy";
    }





 } */
@media (max-width: 768px) { 
    
    #logoHeader img {
        width: 40px;
        height: 40px;
        border-radius: 80%;
        margin-left: 10px;
        margin-right: 10px;
    }

    main {

        margin: 40px 30px 30px 40px;
    }



}
@media (max-width: 1199.98px) {}
@media (max-width: 1399.98px) {}

